h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  color: #6e7191;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  line-height: 1.43;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  /* width: 1440px; */
  /* padding-left: 110px;
  padding-right: 110px; */
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 180px;
    padding-bottom: 180px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 240px;
    padding-bottom: 240px;
  }
}

.logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: #211f54;
}

.logo__thumb {
  position: relative;
  overflow-x: hidden;
}

.logo__thumb::before {
  content: "";
  display: flex;
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  transform: skewX(-25deg);
}

.logo:hover .logo__thumb::before {
  animation: shine 1.5s;
}

.logo__icon {
  fill: #0075ff;
}

.btn {
  position: relative;
  overflow: hidden;
  padding: 25px 35px;
  font-size: 16px;
  line-height: 1.13;
  font-weight: 700;
  border-style: none;
  border-radius: 14px;
  cursor: pointer;
}

.btn--accent {
  color: #ffffff;
  border: 1px solid #0075ff;
  background-color: #0075ff;
}

.btn--accent::before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  transform: translateX(-150%) skewX(-25deg);
  transition: transform 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.btn--accent:hover::before {
  transform: scaleX(150%) skewX(-25deg);
}

.btn--white {
  border: 1px solid #eff0f6;
  color: #211f54;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(20, 20, 43, 0.04);
}

.btn--white::before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #0075ff;
  transform: translateX(150%) skewX(-25deg);
  transition: transform 1000ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.btn--white:hover::before {
  transform: scaleX(150%) skewX(-25deg);
}

.btn__span {
  position: relative;
  z-index: 2;
  transition: color 500ms cubic-bezier(0.25, 0.34, 0.83, 0.67);
}

.btn--accent:hover .btn__span--accent {
  color: #0075ff;
}

.btn--white:hover .btn__span--white {
  color: #ffffff;
}

.connection {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 479px) {
  .connection {
    flex-direction: column;
  }
}

.connection__thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px;
  margin-right: 15px;
  background-color: #ffffff;
  border: 1px solid #dcddeb;
  border-radius: 50%;
}

.connection__icon {
  fill: #0075ff;
}

.connection:hover .connection__icon {
  animation: phone 500ms infinite both;
}

.connection__label {
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: #211f54;
  text-shadow: -0.5px 0 white, 0 0.5px white, 0.5px 0 white, 0 -0.5px white;
}

.connection__label--white {
  color: #ffffff;
}

.connection__tel {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.29;
  color: #211f54;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.connection__tel--white {
  color: #ffffff;
}

@keyframes phone {
  0% {
    transform: rotateZ(0);
  }
  20% {
    transform: rotateZ(-10deg);
  }
  40% {
    transform: rotateZ(10deg);
  }
  60% {
    transform: rotateZ(-10deg);
  }
  80% {
    transform: rotateZ(10deg);
  }
  100% {
    transform: rotateZ(-10deg);
  }
}

@media screen and (min-width: 480px) {
  .header__container {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav {
  padding-top: 38px;
  padding-bottom: 38px;
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 40px;
  }
}

@media screen and (min-width: 480px) {
  .nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.nav-menu__item {
  overflow: hidden;
  position: relative;
  color: #211f54;
  transition: color 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.nav-menu__item:not(:last-child) {
  margin-right: 22px;
}

.nav-menu__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #0075ff;
  transform: translateY(-100%);
  transition: transform 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.nav-menu__item:hover::before {
  transform: translateY(0);
}

.nav-menu__item:hover {
  color: #ffffff;
}

.nav-menu__link {
  display: inline-flex;
  padding: 5px;
  font-size: 18px;
  line-height: 1.67;
  color: inherit;
}

.nav-menu__link--active {
  border-bottom: 1px solid #0075ff;
}

.basket {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.basket__text {
  margin-right: 24px;
  font-size: 18px;
  line-height: 1.67;
  color: #211f54;
}

.hero {
  padding-top: 150px;
  padding-bottom: 150px;
  background-image: url(../images/hero.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media screen and (min-width: 768px) {
  .hero {
    background-position: right;
  }
}

.hero__wrapper {
  max-width: 591px;
}

.hero__title {
  margin-bottom: 22px;
  font-weight: 700;
  font-size: 68px;
  line-height: 1.09;
  color: #211f54;
}

@media screen and (max-width: 1199px) {
  .hero__title {
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  }
}

.hero__text {
  margin-bottom: 34px;
}

@media screen and (max-width: 1199px) {
  .hero__text {
    color: #ffffff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
}

@media screen and (max-width: 767px) {
  .hero__order {
    text-align: center;
  }
  .hero__order > *:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .hero__order {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .hero__btn {
    margin-right: 28px;
  }
}

.service__wrapper {
  border-bottom: 1px solid #dcddeb;
}

.service__title {
  margin-bottom: 20px;
  font-size: 48px;
  line-height: 1.21;
  text-align: center;
  color: #211f54;
}

.service__text {
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .service__text {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .service__text {
    margin: 0 auto 58px;
    max-width: 648px;
  }
}

.steps {
  margin-bottom: 55px;
}

@media screen and (min-width: 800px) {
  .steps {
    display: flex;
    flex-wrap: wrap;
    margin-top: -10px;
    margin-left: -10px;
  }
}

@media screen and (min-width: 1200px) {
  .steps {
    display: flex;
    flex-wrap: wrap;
    margin-top: -40px;
    margin-left: -40px;
  }
}

@media screen and (min-width: 420px) and (max-width: 799px) {
  .steps__item {
    display: flex;
    align-items: center;
  }
  .steps__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 800px) {
  .steps__item {
    flex-basis: calc(100% / 3 - 10px);
    margin-top: 10px;
    margin-left: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .steps__item {
    flex-basis: calc(100% / 3 - 40px);
    margin-top: 40px;
    margin-left: 40px;
  }
}

.steps__thumbs {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  border-radius: 50%;
  background-color: #cee5ff;
}

@media screen and (max-width: 767px) {
  .steps__thumbs {
    margin: 0 auto;
  }
}

@media screen and (max-width: 799px) {
  .steps__thumbs {
    min-width: 100px;
    max-width: 100px;
  }
}

@media screen and (min-width: 420px) {
  .steps__thumbs {
    margin-right: 20px;
  }
}

@media screen and (min-width: 800px) {
  .steps__thumbs {
    width: 200px;
    height: 200px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .steps__thumbs {
    width: 240px;
    height: 240px;
  }
}

.steps__wrapper {
  align-self: center;
}

@media screen and (max-width: 799px) {
  .steps__icon {
    max-width: 80%;
    height: auto;
  }
}

.steps__title {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 1.29;
  text-align: center;
  color: #211f54;
}

@media screen and (min-width: 500px) {
  .steps__title {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .steps__title {
    font-size: 28px;
  }
}

.steps__description {
  font-size: 15px;
  text-align: center;
}

@media screen and (min-width: 500px) {
  .steps__description {
    font-size: 18px;
  }
}

.service__btns {
  text-align: center;
}

@media screen and (max-width: 479px) {
  .service__btn {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 480px) {
  .service__btn {
    margin-right: 30px;
  }
}

.statistics__wrapper {
  border-bottom: 1px solid #dcddeb;
}

.statistics__title {
  margin-bottom: 13px;
  font-size: 28px;
  line-height: 1.21;
  text-align: center;
  color: #211f54;
}

@media screen and (min-width: 768px) {
  .statistics__title {
    font-size: 48px;
  }
}

.statistics__description {
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .statistics__description {
    width: 702px;
    margin: 0 auto 32px;
  }
}

.statistics__menu {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .statistics__menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

.statistics__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .statistics__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .statistics__item::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    width: 60px;
    height: 0px;
    border-top: 5px dotted #0075ff;
  }
}

@media screen and (min-width: 768px) {
  .statistics__item {
    justify-content: center;
  }
}

.statistics__thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  margin-right: 15px;
  border: 1px solid #dcddeb;
  border-radius: 50%;
}

@media screen and (max-width: 767px) {
  .statistics__meta {
    text-align: end;
  }
}

.statistics__name {
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}

.statistics__amount {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.29;
  color: #211f54;
}

.statistics__overlay {
  position: relative;
  overflow-x: hidden;
}

.statistics__overlay::before {
  content: "";
  display: flex;
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  transform: skewX(-25deg);
}

.statistics__overlay:hover::before {
  animation: shine 1s;
}

@keyframes shine {
  100% {
    transform: translateX(300%) skewX(-25deg);
  }
}

.statistics__img {
  display: none;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .statistics__img {
    display: block;
  }
}

.working__wrapper {
  margin-bottom: 62px;
}

@media screen and (max-width: 767px) {
  .working__wrapper {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .working__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.working__title {
  font-size: 48px;
  line-height: 1.21;
  color: #211f54;
}

@media screen and (min-width: 768px) {
  .locations {
    display: flex;
    flex-wrap: wrap;
    margin-top: -15px;
    margin-left: -15px;
  }
}

.locations__item {
  padding: 20px;
  border: 1px solid #eff0f6;
  box-shadow: 0px 2px 6px rgba(20, 20, 43, 0.04);
  border-radius: 16px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .locations__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .locations__item {
    flex-basis: calc(100% / 3 - 15px);
    margin-top: 15px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
}

@media screen and (min-width: 1200px) {
  .locations__item {
    padding: 83px 38px 29px;
  }
}

.locations__img {
  margin-bottom: 25px;
}

@media screen and (max-width: 767px) {
  .locations__img {
    margin-left: auto;
    margin-right: auto;
  }
}

.locations__title {
  font-size: 24px;
  line-height: 1.42;
  text-align: center;
  color: #211f54;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .locations__title {
    font-size: 20px;
  }
}

.locations__description {
  margin-bottom: 13px;
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .locations__description {
    font-size: 15px;
  }
}

.sanitization__wrapper {
  padding: 138px 74px 138px 0;
  background-image: url(../images/sanitization.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-color: #211f54;
  border-radius: 24px;
}

.sanitization__content {
  width: 556px;
  margin-left: auto;
}

.sanitization__subtitle {
  margin-bottom: 17px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: #ffffff;
}

.sanitization__title {
  margin-bottom: 18px;
  font-size: 48px;
  line-height: 1.21;
  color: #ffffff;
}

.sanitization__description {
  margin-bottom: 12px;
  color: #ffffff;
}

.sanitization__segment {
  display: flex;
  align-items: center;
}

.sanitization__btn {
  margin-right: 28px;
}

.areasworks {
  padding-top: 240px;
}

.areasworks__container {
  display: flex;
  align-items: center;
  height: 680px;
  background-image: url("../images/home.svg");
  background-repeat: no-repeat;
  background-position: left;
}

.areasworks__content {
  width: 500px;
  margin-left: auto;
}

.areasworks__title {
  margin-bottom: 19px;
  font-size: 48px;
  line-height: 1.21;
  color: #211f54;
}

.areasworks__description {
  margin-bottom: 26px;
  font-size: 18px;
  line-height: 1.67;
}

.spotwork {
  display: flex;
  margin-bottom: 48px;
}

.spotwork__menu--left {
  margin-right: 55px;
}

.spotwork__item {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  color: #211f54;
}

.spotwork__item:not(:last-child) {
  margin-bottom: 24px;
}

.spotwork__item:before {
  content: url("../images/mark.svg");
  display: flex;
  width: 26px;
  height: 26px;
  margin-right: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #edf5ff;
}

.differences__wrapper {
  border-bottom: 1px solid #dcddeb;
}

.differences__area {
  display: flex;
  align-items: center;
  height: 590px;
  background-image: url(../images/man-cleaning.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.differences__content {
  width: 480px;
  margin-right: auto;
}

.differences__title {
  margin-bottom: 19px;
  font-size: 48px;
  line-height: 1.21;
  color: #211f54;
}

.differences__description {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 1.67;
}

.differences__text {
  margin-bottom: 26px;
  font-size: 12px;
  line-height: 2.5;
}

.progress {
  display: flex;
  margin-bottom: 50px;
}

.progress__item:not(:last-child) {
  margin-right: 40px;
}

.progress__amount {
  font-weight: 700;
  font-size: 54px;
  line-height: 1.22;
  color: #211f54;
}

.progress-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
}

.progress__plus {
  color: #0075ff;
}

.resources__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.resources__content {
  width: 474px;
  margin-right: auto;
}

.resources__title {
  font-size: 48px;
  line-height: 1.21;
  color: #211f54;
}

.resources__btn {
  margin-right: 28px;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
  align-items: center;
  margin-bottom: 310px;
}

.articles__item {
  flex-basis: calc(100% / 2 - 30px);
  margin-top: 30px;
  margin-left: 30px;
  position: relative;
}

.articles__img {
  position: absolute;
  z-index: -1;
}

.articles__content {
  position: relative;
  bottom: -310px;
  width: 90%;
  margin: 0 auto;
  padding: 50px;
  background-color: #ffffff;
  border: 1px solid #eff0f6;
  box-shadow: 0px 2px 6px rgba(20, 20, 43, 0.04);
  border-radius: 24px;
}

.articles__title {
  margin-bottom: 17px;
  font-size: 24px;
  line-height: 1.42;
  color: #211f54;
}

.articles__meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.articles__date {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  color: #211f54;
}

.articles__btn {
  width: 50px;
  height: 50px;
  font-size: 28px;
  border-style: none;
  background-color: #0075ff;
  color: #ffffff;
  cursor: pointer;
  transition: transform 500ms cubic-bezier(0.69, 0.09, 0.63, 0.98), border-radius 500ms cubic-bezier(0.69, 0.09, 0.63, 0.98);
}

.articles__btn:hover {
  transform: rotate(360deg);
  border-radius: 50%;
}

.freecleaning {
  background-color: #f7f9fc;
}

.freecleaning__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.freecleaning__content {
  margin-right: 60px;
}

.freecleaning__request {
  margin-bottom: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #dcddeb;
}

.freecleaning__title {
  margin-bottom: 10px;
  font-size: 48px;
  line-height: 1.21;
  color: #211f54;
}

.freecleaning__description {
  margin-bottom: 10px;
}

.freecleaning__subtitle {
  margin-bottom: 10px;
  font-size: 28px;
  line-height: 1.29;
  color: #211f54;
}

.form {
  padding: 85px 60px;
  border: 1px solid #eff0f6;
  background: #ffffff;
  box-shadow: 0px 2px 6px rgba(20, 20, 43, 0.04);
  border-radius: 16px;
}

.form__inputs {
  display: flex;
  margin-bottom: 30px;
}

.form__inputs-left {
  margin-right: 30px;
}

.form__label {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  color: #211f54;
}

.form__label:not(:last-child) {
  margin-bottom: 30px;
}

.form__input {
  max-width: 260px;
  padding: 20px 30px;
  background-color: #ffffff;
  border: 1px solid #eff0f6;
  box-shadow: 0px 2px 12px rgba(20, 20, 43, 0.08);
  border-radius: 16px;
}

.form__note {
  padding: 20px 30px;
  resize: none;
  border: 1px solid #eff0f6;
  box-shadow: 0px 2px 7px rgba(20, 20, 43, 0.08);
  border-radius: 22px;
}

.footer {
  padding-top: 240px;
}

.footer__menu {
  display: flex;
  flex-wrap: wrap;
  margin-top: -40px;
  margin-left: -40px;
  margin-bottom: 100px;
}

.footer__item {
  flex-basis: calc(100% / 4 - 40px);
  margin-top: 40px;
  margin-left: 40px;
}

.quality__title {
  margin-bottom: 10px;
  font-size: 28px;
  line-height: 1.29;
  color: #211f54;
}

.quality__text {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 1.67;
}

.social {
  display: flex;
}

.social__item:not(:last-child) {
  margin-right: 16px;
}

.social__link {
  display: block;
  width: 36px;
  height: 36px;
  background: #edf5ff;
  border-radius: 8px;
}

.contact__title {
  display: inline-flex;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
  color: #211f54;
}

.contact__information {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
}

.opening__title {
  display: inline-flex;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
  color: #211f54;
}

.contact__item:not(:last-child) {
  margin-bottom: 15px;
}

.contact__telephone {
  display: inline-flex;
  font-size: 18px;
  line-height: 1.67;
  color: #6e7191;
}

.contact__email {
  font-size: 18px;
  line-height: 1.67;
  color: #6e7191;
}

.opening__title {
  display: inline-flex;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
  color: #211f54;
}

.opening__weekdays {
  margin-bottom: 20px;
}

.opening__days {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  color: #211f54;
}

.opening__hours {
  font-size: 18px;
  line-height: 1.67;
}

.free-estimate__title {
  display: inline-flex;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
  color: #211f54;
}

.free-estimate__tel {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.29;
  color: #0075ff;
}

.free-estimate__text {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.67;
}

.footer__logo {
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 1px solid #eff0f6;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */