:root {
  --primary-color-text: #6e7191;
  --secondary-color-text: #211f54;
  --accent-color: #0075ff;
  --white-color: #ffffff;
  --secondary-background-color: #edf5ff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
body {
  color: var(--primary-color-text);
  background-color: var(--white-color);
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  line-height: 1.43;
}
.container {
  /* width: 1440px; */
  width: 1368px;
  padding-left: 110px;
  padding-right: 110px;
  margin: 0 auto;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.section {
  padding-top: 240px;
  padding-bottom: 240px;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* .flex-box {
  display: flex;
  flex-wrap: wrap;
  margin-left: -42px;
  margin-top: -42px;
}
.flex-item {
  flex-basis: calc(100% / 3 - 42px);
  margin-left: 42px;
  margin-top: 42px;
} */
/* header */
.header-container {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
  padding-top: 38px;
  padding-bottom: 38px;
}
.logo {
  margin-right: 40px;
}
.nav-menu {
  display: flex;
  align-items: center;
}
.nav-list:not(:last-child) {
  margin-right: 22px;
}
.nav-link {
  color: var(--secondary-color-text);
  font-size: 18px;
  line-height: 1.67;
}
.basket-modal {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.basket-text {
  margin-right: 24px;
  color: var(--secondary-color-text);
  font-size: 18px;
  line-height: 1.67;
}
.basket-btn {
  padding: 17px 24px 19px;
  font-size: 16px;
  line-height: 1.13;
  font-weight: 700;
  color: var(--white-color);
  background-color: var(--accent-color);
  border-style: none;
  border-radius: 14px;
  cursor: pointer;
}
.hero {
  height: 734px;
  background-image: url(../images/hero-img.png);
  background-repeat: no-repeat;
  background-position: right;
}
.hero-container {
  padding-top: 230px;
}
.hero-wrapper {
  max-width: 591px;
}
.hero-title {
  margin-bottom: 22px;

  font-weight: 700;
  font-size: 68px;
  line-height: 1.09;
  color: var(--secondary-color-text);
}
.hero-text {
  margin-bottom: 34px;
}
.hero-btn-block {
  display: flex;
  align-items: center;
}
.hero-btn {
  margin-right: 28px;
  padding: 17px 24px 19px;
  font-size: 16px;
  line-height: 1.13;
  color: var(--white-color);
  background-color: var(--accent-color);
  border-style: none;
  border-radius: 14px;
}
.hero-tel {
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}
.hero-tel-link {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.29;
  color: var(--secondary-color-text);
}

.our-service-title {
  margin-bottom: 21px;
  font-size: 48px;
  line-height: 1.21;
  text-align: center;
  color: var(--secondary-color-text);
}
.our-service-text {
  margin: 0 auto 58px;
  max-width: 648px;
}
.steps-menu {
  display: flex;
  flex-wrap: wrap;
  margin-left: -42px;
  margin-top: -42px;
  margin-bottom: 56px;
}
.steps-list {
  flex-basis: calc(100% / 3 - 42px);
  margin-left: 42px;
  margin-top: 42px;
}
.steps-img {
  margin: 0 auto 39px;
}
.steps-title {
  margin-bottom: 16px;

  font-size: 28px;
  line-height: 1.29;
  text-align: center;
  color: var(--secondary-color-text);
}
.steps-description {
  text-align: center;
}
.our-service-btn-block {
  text-align: center;
}
.our-service-get {
  margin-right: 28px;
  padding: 26px 38px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  color: var(--white-color);
  background-color: var(--accent-color);
  border-style: none;
  border-radius: 14px;
}
.our-service-explore {
  padding: 26px 38px;
  font-size: 18px;
  line-height: 1.11;
  color: var(--secondary-color-text);
  border: 1px solid #eff0f6;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(20, 20, 43, 0.04);
  border-radius: 14px;
}
.statistics-title {
  font-size: 48px;
  line-height: 1.21;
  text-align: center;
  color: var(--secondary-color-text);
}
.statistics-name {
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}
.statistics-amount {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.29;
  color: var(--secondary-color-text);
}
.work-locations-title {
  font-size: 48px;
  line-height: 1.21;
  color: var(--secondary-color-text);
}
.work-locations-btn {
  font-size: 18px;
  line-height: 1.11;
  text-align: center;
  color: var(--secondary-color-text);
  background: var(--white-color);
  border: 1px solid #eff0f6;
  box-shadow: 0px 4px 10px rgba(20, 20, 43, 0.04);
  border-radius: 14px;
}
.locations-title {
  font-size: 24px;
  line-height: 1.42;
  text-align: center;
  color: var(--secondary-color-text);
}
.locations-description {
  text-align: center;
}
.sanitization-subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: var(--white-color);
}
.sanitization-title {
  font-size: 48px;
  line-height: 1.21;
  color: var(--white-color);
}
.sanitization-text {
  color: var(--white-color);
}
.sanitization-btn {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  text-align: center;
  color: var(--white-color);
  background: var(--accent-color);
  border-radius: 14px;
}
.sanitization-tel {
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: var(--white-color);
}
.sanitization-tel-link {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.29;
  color: var(--white-color);
}
.areasworks-title {
  font-size: 48px;
  line-height: 1.21;
  color: var(--secondary-color-text);
}
.areasworks-description {
  font-size: 18px;
  line-height: 1.67;
}
.areasworks-list {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  color: var(--secondary-color-text);
}
.areasworks-btn {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  text-align: center;
  color: var(--white-color);
  background: #0075ff;
  border-radius: 14px;
}
.differences-title {
  font-size: 48px;
  line-height: 1.21;
  color: var(--secondary-color-text);
}
.differences-description {
  font-size: 18px;
  line-height: 1.67;
}
.differences-text {
  font-size: 12px;
  line-height: 2.5;
}
.progress-amount {
  font-weight: 700;
  font-size: 54px;
  line-height: 1.22;
  color: var(--secondary-color-text);
}
.progress-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
}
.differences-btn {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  text-align: center;
  color: var(--white-color);
  background: var(--accent-color);
  border-radius: 14px;
}
.resources-title {
  font-size: 48px;
  line-height: 1.21;
  color: var(--secondary-color-text);
}
.resources-get {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  text-align: center;
  color: var(--white-color);
  background: var(--accent-color);
  border-radius: 14px;
}
.resources-browse {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  text-align: center;
  color: var(--secondary-color-text);
  background: var(--white-color);
  border: 1px solid #eff0f6;
  box-shadow: 0px 4px 10px rgba(20, 20, 43, 0.04);
  border-radius: 14px;
}
.articles-title {
  font-size: 24px;
  line-height: 1.42;
  color: var(--secondary-color-text);
}
.articles-date {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  color: var(--secondary-color-text);
}
.freecleaning {
  background-color: #f7f9fc;
}
.freecleaning-title {
  font-size: 48px;
  line-height: 1.21;
  color: var(--secondary-color-text);
}
.freecleaning-tel {
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}
.freecleaning-tel-link {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.29;
  color: var(--secondary-color-text);
}
.freecleaning-subtitle {
  font-size: 28px;
  line-height: 1.29;
  color: var(--secondary-color-text);
}
.freecleaning-btn {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  text-align: center;
  color: var(--secondary-color-text);
  background: var(--white-color);
  border: 1px solid #eff0f6;
  box-shadow: 0px 4px 10px rgba(20, 20, 43, 0.04);
  border-radius: 14px;
}
.quality-title {
  font-size: 28px;
  line-height: 1.29;
  color: var(--secondary-color-text);
}
.quality-text {
  font-size: 18px;
  line-height: 1.67;
}
.social-link {
  display: block;
  width: 36px;
  height: 36px;
  background: var(--secondary-background-color);
  border-radius: 8px;
}
.contact-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
  color: var(--secondary-color-text);
}
.contact-information {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
}
.opening-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
  color: var(--secondary-color-text);
}
.opening-weekdays {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  color: var(--secondary-color-text);
}
.opening-hours {
  font-size: 18px;
  line-height: 1.67;
}
.opening-weekend {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  color: var(--secondary-color-text);
}
.free-estimate-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
  color: var(--secondary-color-text);
}
.free-estimate-tel {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.29;
  color: var(--accent-color);
}
.free-estimate-text {
  font-size: 18px;
  line-height: 1.67;
}
.free-estimate-btn {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  text-align: center;
  color: var(--secondary-background-color);
  background: var(--accent-color);
  border-radius: 14px;
}
