.hero {
  height: 734px;

  background-image: url(../images/hero.svg);
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (max-width: 768px) {
    background-size: cover;
  }
  @media screen and (min-width: 768px) {
    background-position: right;
  }
}
.hero__container {
  padding-top: 230px;
}
.hero__wrapper {
  max-width: 591px;
}
.hero__title {
  margin-bottom: 22px;

  font-weight: 700;
  font-size: 68px;
  line-height: 1.09;
  color: $secondary-color-text;

  @media screen and (max-width: 1199px) {
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  }
}
.hero__text {
  margin-bottom: 34px;

  @media screen and (max-width: 1199px) {
    color: $white-color;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
}
.hero__order {
  @media screen and (max-width: 767px) {
    text-align: center;

    & > *:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}
.hero__btn {
  @media screen and (min-width: 768px) {
    margin-right: 28px;
  }
}
