.working__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 62px;
}
.working__title {
  font-size: 48px;
  line-height: 1.21;
  color: $secondary-color-text;
}
.locations {
  @include flex-box(30px, 30px);
}
.locations__item {
  @include flex-item(30px, 30px, 3);
  padding: 83px 38px 29px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  border: 1px solid #eff0f6;
  box-shadow: 0px 2px 6px rgba(20, 20, 43, 0.04);
  border-radius: 16px;
  text-align: center;
}
.locations__img {
  margin-bottom: 25px;
}

.locations__title {
  font-size: 24px;
  line-height: 1.42;
  text-align: center;
  color: $secondary-color-text;
}
.locations__description {
  margin-bottom: 13px;

  text-align: center;
}
