body {
  color: $primary-color-text;
  background-color: $white-color;
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  line-height: 1.43;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
